<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
</head>

<body>
<div class="container">
    <div id="mynetwork"></div>
    <div id="config">
        <h3>DREAD Score Calculator</h3>
        <table id="dreadTable" class="dreadTable">
            <thead>
            <tr>
                <th>Node Leaf</th>
                <th>Damage</th>
                <th>Reproducibility</th>
                <th>Exploitability</th>
                <th>Affected Users</th>
                <th>Discoverability</th>
            </tr>
            </thead>
            <tbody id="tableID">
            </tbody>
            <tr>
                <td colspan="6">
                    <button onclick="calculateRisk()" style="width: 100%">Calculate DREAD score</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">

    // initialize global variables.
    let edges;
    let nodes;
    let network;
    let container;
    let options, data;


    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        let container = document.getElementById('mynetwork');

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet({{nodes|tojson}});
        edges = new vis.DataSet({{edges|tojson}});

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        // option such as colors, behaviours, etc. for the graph, i.e. the attack tree
        let options = {
            "configure": {
                "enabled": false
            },
            "nodes": {
                "color": {
                    "border": '#333333',
                    "background": '#ffffff',
                    "highlight": {
                        "border": '#e01e1e',
                        "background": '#ffffff',
                    },
                }
            },
            "edges": {
                "color": {
                    "color":'#333333',
                    "highlight":'#e01e1e',
                    "hover": '#e01e1e',
                    "inherit": false
                },
                "smooth": {
                    "enabled": false,
                    "type": "continuous"
                }
            },
            "interaction": {
                "dragNodes": true,
                "dragView": false,
                "hideEdgesOnDrag": false,
                "hideNodesOnDrag": false
            },
            "layout": {
                "hierarchical": {
                    "blockShifting": true,
                    "direction": "UD",
                    "edgeMinimization": true,
                    "enabled": true,
                    "levelSeparation": 150,
                    "parentCentralization": true,
                    "sortMethod": "directed",
                    "treeSpacing": 400
                },
                "improvedLayout": true,
                "randomSeed": 0
            },
            "physics": {
                "barnesHut": {
                    "avoidOverlap": 0,
                    "centralGravity": 0.3,
                    "damping": 0.09,
                    "gravitationalConstant": -80000,
                    "springConstant": 0.001,
                    "springLength": 250
                },
                "enabled": true,
                "hierarchicalRepulsion": {
                    "centralGravity": 0.0,
                    "damping": 0.09,
                    "nodeDistance": 170,
                    "springConstant": 0.01,
                    "springLength": 100
                },
                "solver": "hierarchicalRepulsion",
                "stabilization": {
                    "enabled": true,
                    "fit": true,
                    "iterations": 1000,
                    "onlyDynamicEdges": false,
                    "updateInterval": 50
                }
            }
        };

        // attach table to HTML
        options.configure["container"] = document.getElementById("config");

        // define network, i.e. the attack tree graph
        network = new vis.Network(container, data, options);

        {% if tooltip_link %}
            // make a custom popup
            let popup = document.createElement("div");
            popup.className = 'popup';
            popupTimeout = null;
            popup.addEventListener('mouseover', function () {
                console.log(popup)
                if (popupTimeout !== null) {
                    clearTimeout(popupTimeout);
                    popupTimeout = null;
                }
            });
            popup.addEventListener('mouseout', function () {
                if (popupTimeout === null) {
                    hidePopup();
                }
            });
            container.appendChild(popup);


            // use the popup event to show
            network.on("showPopup", function (params) {
                showPopup(params);
            });

            // use the hide event to hide it
            network.on("hidePopup", function (params) {
                hidePopup();
            });


            // hiding the popup through css
            function hidePopup() {
                popupTimeout = setTimeout(function () { popup.style.display = 'none'; }, 500);
            }

            // showing the popup
            function showPopup(nodeId) {
                // get the data from the vis.DataSet
                let nodeData = nodes.get([nodeId]);
                popup.innerHTML = nodeData[0].title;

                // get the position of the node
                let posCanvas = network.getPositions([nodeId])[nodeId];

                // get the bounding box of the node
                let boundingBox = network.getBoundingBox(nodeId);

                //position tooltip:
                posCanvas.x = posCanvas.x + 0.5 * (boundingBox.right - boundingBox.left);

                // convert coordinates to the DOM space
                let posDOM = network.canvasToDOM(posCanvas);

                // Give it an offset
                posDOM.x += 10;
                posDOM.y -= 20;

                // show and place the tooltip.
                popup.style.display = 'block';
                popup.style.top = posDOM.y + 'px';
                popup.style.left = posDOM.x + 'px';
            }
        {% endif %}


        {% if nodes|length > 100 and physics_enabled %}
            network.on("stabilizationProgress", function(params) {
                document.getElementById('loadingBar').removeAttribute("style");
                let maxWidth = 496;
                let minWidth = 20;
                let widthFactor = params.iterations/params.total;
                let width = Math.max(minWidth,maxWidth * widthFactor);

                document.getElementById('bar').style.width = width + 'px';
                document.getElementById('text').innerHTML = Math.round(widthFactor*100) + '%';
            });
            network.once("stabilizationIterationsDone", function() {
                document.getElementById('text').innerHTML = '100%';
                document.getElementById('bar').style.width = '496px';
                document.getElementById('loadingBar').style.opacity = 0;
                // really clean the dom element
                setTimeout(function () {document.getElementById('loadingBar').style.display = 'none';}, 500);
            });
        {% endif %}

        return network;

    }

    // This function calculates the risk, i.e. the DREAD score from the entered values
    function calculateRisk() {
        // read in nodes from the vis dataset
        let nodes = new vis.DataSet({{nodes|tojson}});
        // coarse data cleanup - retuning only needed values
        let nodeLeaves = Object.values(nodes._data)

        // return only node names
        nodeLeaves = nodeLeaves.map((item) => {
            return item.title
        })

        // instantiate a variable (an empty array)
        let leavesWithScores = []

        // fetch tree data by their IDs (combination of name and DREAD labels)
        // populate the array with leaves and their DREAD values
        // calculate the DREAD score for each leaf
        nodeLeaves.forEach(function (leaf) {
            let damage = document.getElementById(leaf+':damage').selectedOptions[0].value;
            let reproducibility = document.getElementById(leaf+':reproducibility').selectedOptions[0].value;
            let exploitability = document.getElementById(leaf+':exploitability').selectedOptions[0].value;
            let affected_users = document.getElementById(leaf+':affected_users').selectedOptions[0].value;
            let discoverability = document.getElementById(leaf+':discoverability').selectedOptions[0].value;
            let score = (parseInt(damage) + parseInt(reproducibility) + parseInt(exploitability) + parseInt(affected_users) + parseInt(discoverability)) / 5

            return leavesWithScores.push({title: leaf, score: score})
        })

        // remove the initial table
        const element = document.getElementById("dreadTable");
        element.remove();

        // create a new table
        const table = document.createElement("table");
        table.setAttribute("id", "newTable")
        table.setAttribute("class", "dreadTable")
        const newTable = document.getElementById("config");
        newTable.appendChild(table);

        // get the table from html
        let config = document.querySelector('#newTable');

        // populate the table with nodes and DREAD scores
        config.innerHTML = `<thead><th>Leaf Node</th><td>DREAD Score</td></thead><tbody>` + leavesWithScores.map(function (leaf) {
            return (`<tr>
				<td>${leaf.title}</td>
				<td>${leaf.score}</td>
				</tr>`)
        }).join('') + '<tr><td colspan="2"><button style="width: 100%" onclick="window.print()">Print page</button></td></tr></tbody>';

    }

    // this function creates a DREAD table calculator, populated by node names
    function drawTable() {
        // read in nodes from the vis dataset
        let nodes = new vis.DataSet({{nodes|tojson}});
        // coarse data cleanup - retuning only needed values
        let nodeLeaves = Object.values(nodes._data)

        // return only node names
        nodeLeaves = nodeLeaves.map((item) => {
            return item.title
        })

        // get the table from html
        let config = document.querySelector('#tableID');

        // populate the table with nodes select elements for DREAD scoring
        // each node will be assigned an ID (node name + DREAD label)
        // e.g. openSafe:damage
        config.innerHTML = nodeLeaves.map(function (leaf) {
            return (`<tr>
				<td>${leaf}</td>
				<td>
					<select id="${leaf}:damage">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				</td>
				<td>
					<select id="${leaf}:reproducibility">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				</td>
				<td>
					<select id="${leaf}:exploitability">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				</td>
				<td>
					<select id="${leaf}:affected_users">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				</td>
				<td>
					<select id="${leaf}:discoverability">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					</select>
				</td>
				</tr>`)
        }).join('');
    }

    drawGraph();
    drawTable();

</script>
</body>
</html>
